@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
 */


@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

.container {
  @apply xl:px-20;
}

.ReactCollapse--collapse {
  transition: height 300ms;
}

.oddds:nth-child(odd) {
  @apply bg-[#F7F6FE];
}

html {
  scroll-behavior: smooth;
  font-family: 'Nunito', monospace;
  @apply select-none;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  @apply h-screen w-screen overflow-x-hidden;
}

.click\:scale {
  cursor: pointer;
  @apply hover:scale-105 active:scale-95 duration-200
}

button,
form,
input,textarea {
  @apply outline-none focus:outline-none;
}

.bg-linear-gray {
  background: linear-gradient(
    0deg,
    rgba(13, 24, 54, 0.53),
    rgba(13, 24, 54, 0.53)
  );
}

.main__section {
  background: linear-gradient(
      0deg,
      rgba(13, 24, 54, 0.53),
      rgba(13, 24, 54, 0.53)
    ),
    url("/traffic.png") no-repeat center;
  background-size: cover;
}

.register__btn {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16px);
}

.fb_vertically {
  @apply flex-col flex justify-between;
}

.fcc {
  @apply flex justify-center items-center;
}

.fcb {
  @apply flex justify-between items-center;
}

.fc {
  @apply flex justify-center;
}

.h1 {
  @apply font-bold text-5xl text-white;
}

.h2 {
  @apply font-bold text-4xl text-white;
}

.h3 {
  @apply text-white text-2xl font-bold;
}

.p {
  @apply text-white;
}

.border-linear-gray {
  border-image-source: linear-gradient(
    106.57deg,
    #ffffff 12.11%,
    rgba(255, 255, 255, 0.19) 41.43%,
    rgba(255, 255, 255, 0.01) 81.22%
  );
}

.ci:hover {
  background-image: url("/b.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.bg-gray-to-white {
  background: linear-gradient(180deg, #dddddd 0%, rgba(248, 248, 248, 0) 100%);
}

.bounce {
  animation: bounce 10s infinite;
}

@keyframes bounce {
  0% {
    transform: translateX(0%);
  }

  45% {
    transform: translateX(50%);
  }

  70% {
    transform: translateY(45%) translateX(25%);
  }

  100% {
    transform: translateX(0%) translateY(0%);
  }
}


.shadow-p:hover {
  box-shadow: 0px 8px 24px rgba(116, 116, 116, 0.16);
  transition: all 150ms ease-in;
}

#menu__link__1:hover ~ #bgbg {
  transform: translateX(0%);
}

#menu__link__2:hover ~ #bgbg {
  transform: translateX(100%);
}

#menu__link__3:hover ~ #bgbg {
  transform: translateX(200%);
}

#menu__link__4:hover ~ #bgbg {
  transform: translateX(300%);
}





